body {
	padding: 70px 0 70px 0;
	background: linear-gradient(#75dbcd, #f2ed6f);
}
.thumbnail {
	text-align: center;
	min-height: 174px; /* 商品名が長い場合の段落ち対策 */
	box-sizing: border-box;
}
.thumbnail p {
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: 600;
}
.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
	text-align: center;
}
.navbar-inverse {
	color: #2c3e50;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}

/* footer navbar */

.footerNav {
	padding: 0;
	text-align: center;
}
.navbar-nav {
	float: none;
}

/* option　page */
.navbar-fixed-bottom .navbar-nav > li > a {
	font-size: 23px;
}

#option {
	background-repeat: no-repeat;
	background-attachment: fixed;
}









/*popup*/
.mybutton-close {
	color: #aaaaaa;
	font-size: 15px;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
}
.popup_div:before {
	content: "";
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
.popup_div:target:before,
.popup_div.loaded:before {
	display: block;
}

.popup_div-dialog {
	background: #fefefe;
	border: #333333 solid 1px;
	border-radius: 5px;
	margin-left: -200px;
	position: fixed;
	left: 50%;
	top: -100%;
	z-index: 11;
	width: 360px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.popup_div-body {
	padding: 20px;
}
.popup_div-top {
	padding: 10px 20px;
}

.popup_div-bottom {
	padding: 5px 20px 10px 20px;
}

.popup_div-top {
	border-bottom: #eeeeee solid 1px;
}

.popup_div:target .popup_div-dialog,
.popup_div.loaded .popup_div-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	top: 20%;
}

.popup_div-bottom {
	border-top: #eeeeee solid 1px;
	text-align: center;
}

.popup_div-body input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}
.bottomContent {
	font-size: 12px;
}
