body {
	padding: 70px 0 70px 0;
	background: linear-gradient(#75dbcd, #f2ed6f);
}
.thumbnail {
	text-align: center;
	min-height: 174px; /* 商品名が長い場合の段落ち対策 */
	box-sizing: border-box;
}
.thumbnail p {
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: 600;
}
.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
	text-align: center;
}
.navbar-inverse {
	color: #2c3e50;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}

/* footer navbar */

.footerNav {
	padding: 0;
	text-align: center;
}
.navbar-nav {
	float: none;
}

/* option　page */
.navbar-fixed-bottom .navbar-nav > li > a {
	font-size: 23px; /*フォントサイズがでかすぎるので */
}

#option {
	background-repeat: no-repeat;
	background-attachment: fixed;
}
