body {
	padding: 70px 0 70px 0;
	background: linear-gradient(#75dbcd, #f2ed6f);
}
.thumbnail {
	text-align: center;
	min-height: 174px; /* 商品名が長い場合の段落ち対策 */
	box-sizing: border-box;
}
body .container .row #slide ul {
	padding-inline-start: 0;
}
body .container .row #slide ul li {
	list-style: none;
}
body .container .row #slide ul li img {
	width: 100%;
}

.thumbnail p {
	display: inline-block;
	margin: 5px 0 0 0;
	font-weight: 600;
}
.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
	text-align: center;
}
.navbar-inverse {
	color: #2c3e50;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
}

/* footer navbar */

.footerNav {
	padding: 0;
	text-align: center;
}
.navbar-nav {
	float: none;
}
.navbar-nav .footerNav {
	color: #ffffff;
}
.navbar-nav .footerNav a {
	padding: 10px 0;
}
.col-xs-10 {
	padding: 10px 0;
}

/* option　page */
.navbar-fixed-bottom .navbar-nav > li > a {
	font-size: 23px;
}

#option {
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* popup */
body .display {
	display: block;
}
#popupExitOnly {
	height: 1000px;
	width: auto;
}
/* #popup */
/* .popup_div {
	overflow: scroll;

	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fefefe;
	width: 75%;
}
.mybutton-close {
	color: #aaaaaa;
	font-size: 15px;
	text-decoration: none;
	position: absolute;
	right: 10px;
	top: 10px;
}
.popup_div-body {
	padding: 20px;
}
.popup_div-bottom {
	padding: 5px 20px 10px 20px;
}
.mybutton {
	background: rgb(82, 114, 173);
	color: white;
	border: none;
	padding: 10px;
	border-radius: 8px;
	font-family: 'Lato';
	margin: 5px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	width: 100%;
}

.detail {
	font-size: 15px;
	text-align: center;
}

textarea {
	overflow: auto;
	overflow: hidden;
	resize: none;
	outline: none;
	align-content: center;
	width: 70%;
} */
.mybutton {
	background: rgb(82, 114, 173);
	color: white;
	border: none;
	padding: 10px;
	border-radius: 8px;
	font-family: 'Lato';
	margin: 5px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
	width: 100%;
}
